<!DOCTYPE html>
<html>
<head>
    <title>
        Home Page
    </title>
</head>
<body>
    <h2>
        Welcome to Koundinya's Application
    </h2>
    <h3>
        Click <a href="/home/getcode">here</a> to start Application Process
    </h3>
    
</body>
</html>